<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="http://www.firstinspires.org/robotics/frc">About FRC</a></li>
            <li><a href="http://www.horacemann.org/page.cfm?p=126">About HM</a></li>
          </ul>
        </div>
        <p>Copyright &copy; FRC 5806, 2017</p>
      </div>
    </div>
  </div>
</footer>
